<ng-container *ngIf="products$ | async as products">

  <div
    *ngIf="products?.length === 0; else productList"
    class="no-products"
  >
    <mat-icon>sentiment_dissatisfied</mat-icon>
    <p>No products available...</p>
  </div>

  <ng-template #productList>
    <div
      matSort
      (matSortChange)="sortData($event, products)"
      class="sorting-container"
    >
      <button
        mat-raised-button
        [disabled]="sortState.active === 'name'"
      >
        <a mat-sort-header="name">Sort by Name</a>
      </button>
      <button
        mat-raised-button
        [disabled]="sortState.active === 'price'"
      >
        <a mat-sort-header="price">Sort by Price</a>
      </button>
    </div>

    <div class="grid-container">

      <ng-container *ngFor="let product of (products | slice: pageStartItemIndex: pageEndItemIndex)">
        <app-products-item
          [product]="product"
          [quantities]="quantities"
          (addToCart)="addToCart($event)"
        ></app-products-item>
      </ng-container>

    </div>

  </ng-template>

</ng-container>

<mat-paginator
  (page)="handlePageEvent($event)"
  aria-label="Select page"
  showFirstLastButtons
></mat-paginator>
