@if ((cartItems$ | async)?.length ?? 0 > 0) {
  <div class="shopping-cart-container">
    <div class="shopping-cart">
      <div class="cart-items">

        <div class="cart-items-header">
          <p>Product Details</p>
          <p>Quantity</p>
          <p>Price</p>
          <p>Total</p>
        </div>

        @for (item of cartItems$ | async; track item) {
          <app-cart-item [item]="item" />
        }
      </div>

      <app-cart-order-summary></app-cart-order-summary>
    </div>

    <a
      mat-button
      color="primary"
      routerLink="/products"
    >
      <mat-icon>arrow_back</mat-icon>
      Continue Shopping
    </a>
  </div>
} @else {
  <div class="empty-cart">
    <mat-icon class="mat-icon-large">remove_shopping_cart</mat-icon>
    <p>It looks like you don't have any products in you cart.</p>
  </div>
}
