<mat-card class="product">
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
  </mat-card-header>
  <div class="img-container">
    <img
      [ngSrc]="product.img"
      alt="{{ product.name }}"
      fill
      priority
      class="responsive-image"
    >
  </div>
  <mat-card-content>
    <p>Price: {{ product.price }} $</p>
    <p>
      Available Amount: {{ getAvailableAmount() }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Order Amount {{ min }}-{{ max }}</mat-label>
      <input
        matInput
        type="number"
        [min]="min"
        [max]="max"
        (ngModelChange)="onQuantityChange($event)"
        [(ngModel)]="quantity"
        [disabled]="availableAmount === 0"
      />
    </mat-form-field>
    <button
      mat-icon-button
      matTooltip="Add to Cart"
      (click)="handleAddToCart()"
      [disabled]="isAddToCartButtonDisabled"
    >
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
